body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #22343d;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
    font-weight: 600;
    text-align: center;

    border-radius: 4px;

}

section {
    padding-bottom: 100px;
}

.container {
    width: 100%;
    padding: 0 21px;
    margin: 0 auto;
}

@media screen and (min-width:1440px) {
    .container {
        width: 1440px;
        padding: 0 145px;
    }
}

/*  #region Header */

.header-container {
    display: flex;
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    padding: 17px 27px 17px 32px;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-nav-list {
    display: none;
}

.header-btn-list {
    display: none;
}

.menu-link {
    cursor: pointer;
}

@media screen and (min-width:1440px) {
    .header-section {
        height: 80px;
    }

    .header-container {
        width: 1106px;
        box-shadow: none;
        padding: 22px 0;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-nav-list {
        display: flex;
        gap: 30px;
        padding: 26px;
    }

    .header-btn-list {
        display: flex;
        gap: 21px;
        align-items: center;
    }

    .header-nav-link {
        font-weight: 400;
        line-height: 1.75;
        color: #22343d;
    }

    .header-btn {
        border: none;
        border-radius: 4px;
        width: 113px;
        height: 42px;
        background-color: #02897a;
        color: #fff;
    }

    .sing-in {
        border: none;
        border-radius: 4px;
        width: 113px;
        height: 42px;
        background-color: #fff;
        color: #173a56;
        border: 1px solid #bcd0e5;
    }

    .menu-link {
        display: none;
    }
}

/*   #endregion Header */
/*  #region Hero */

.hero-section {
    padding-top: 29px;
}

.hero-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    color: #22343d;
}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    text-align: center;
    color: #22343d;
    margin: 16px 0;
}

.hero-btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}


.hero-btn-get {
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    width: 142px;
    height: 53px;
    background: #02897a;
    border: none;
}

.hero-btn-icon {
    min-width: 165px;
    display: flex;
    gap: 9px;
    align-items: center;

}

.hero-btn-play {
    border-radius: 1px;
    fill: #02897a;
}

.hero-btn-watch {
    display: flex;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    align-items: center;
    background: transparent;
    border: none;
}

.hero-img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:1440px) {
    .container {
        width: 1440px;
        padding: 0 145px;
    }

    .hero-section {
        padding-top: 25px;
    }

    .container {}

    .hero-container {
        flex-direction: row;
        gap: 35px;
    }

    .hero-left-side {}

    .hero-title {
        text-align: unset;
        margin-bottom: 18px;
    }

    .hero-text {
        text-align: unset;
        margin-bottom: 45px;
    }

    .hero-btn-list {
        justify-content: unset;
        gap: 30px;
    }

    .hero-img {
        width: 610px;
        height: 555px;
    }
}

/* FIRST PAGE */
/*   #endregion Hero */
/*  #region Product */

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
}

.product-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 65px;
}

.product-icon {
    fill: #fff;
}

.product-container-icon {
    border-radius: 19px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.cursor {
    background-color: #02897a;
}

.figure {
    background-color: #4d8dff;
}

.heard {
    background-color: #740a76;
}

.time {
    background-color: #f03e3d
}



.product-list-title {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    text-align: center;
    margin-bottom: 8px;
}

.product-list-text {
    font-weight: 400;
    line-height: 1.63;
    text-align: center;
    color: #22343d;


}

.product-btn {
    min-width: 175px;
    height: 53px;
    background: #02897a;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    font-weight: 700;
    color: #fff;
    border: none;
    margin-bottom: 38px;
}

@media screen and (min-width:1440px) {

    .product-title {
        width: 539px;
    }

    .product-list {
        flex-direction: row;
        gap: 30px;
        align-items: baseline;
        margin-bottom: 50px;
    }

    .product-list-item {
        width: 255px;
        align-items: unset;
        margin: 0;
    }

    .product-list-title {
        text-align: unset;
    }

    .product-list-text {
        text-align: unset;
    }

}

/*   #endregion Product */
/*  #region Managment */

.management-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 31px;
    padding-right: 31px;
}

.unper-title-management {
    font-weight: 600;
    color: #22343d;
    margin-bottom: 8px;
}

.title-management {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 16px;
}

.text-management {
    font-weight: 400;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 16px;
}


.title-list-management {
    font-weight: 600;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 12px;
}

.text-list-management {
    font-weight: 400;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 16px;
}

.management-img {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

@media screen and (min-width:1440px) {

    .management-container {
        flex-direction: row;
        gap: 84px;
        padding: 0 145px;
    }

    .management-left-container {
        width: 486px;
    }

    .management-img {
        width: 540px;
        height: 500px;
        margin: 0;
    }
}

/*   #endregion Managment */
/*  #region Customer */
.customers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 31px;
    padding-right: 30px;
}

.customers-img {
    width: 350px;
    height: 320px;
    margin-bottom: 50px;
}

.customer-right-container {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.upper-title-customers {
    font-weight: 600;
    color: #22343d;
    margin-bottom: 8px;
}

.customers-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 16px;
}

.customers-text {
    font-weight: 400;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 16px;
}

.customers-list {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.customers-list-item {
    display: flex;
    align-items: center;

}

.container-check-mark {
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    flex-shrink: 0;
}

.orange {
    background-color: #f90;
}

.red {
    background-color: #f03e3d;
}

.blue {
    background-color: #4d8dff;
}

.check-mark {
    fill: #fff;
}

.customers-list-text {
    font-weight: 400;
    line-height: 1.62;
    color: #22343d;

}



@media screen and (min-width:1440px) {

    .customers-container {
        flex-direction: row;
        gap: 84px;
        padding: 0 145px
    }

    .customers-img {
        width: 540px;
        height: 500px;
        margin: 0;
    }

    .customer-right-container {
        width: 450px;
    }

    .customers-title {
        margin-bottom: 25px;
    }

    .customers-text {
        margin-bottom: 30px;
    }

    .customers-list {
        gap: 25px;
    }
}



/*   #endregion Customer */
/*  #region Collaborative */

.colab-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 31px;
    padding-right: 30px;
}

.colab-left-container {
    width: 344px;
}

.upper-title-collab {
    font-weight: 600;
    color: #22343d;
    margin-bottom: 8px;
}

.colab-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 16px;
}

.colab-text {
    font-weight: 400;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 16px;
}


.colab-list-title {
    font-weight: 600;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 12px;
}

.colab-list-text {
    font-weight: 400;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 24px;
}

.colab-img {
    width: 350px;
    height: 292px;
    margin-bottom: 50px;
}

@media screen and (min-width:1440px) {

    .colab-container {
        padding: 0 145px;
        flex-direction: row;
        gap: 84px;
    }

    .colab-left-container {
        width: 486px;
    }

    .colab-title {
        margin-bottom: 25px;
    }

    .colab-text {
        margin-bottom: 30px;
    }

    .colab-img {
        width: 540px;
        height: 500px;
        margin-bottom: 0;
    }
}

/*   #endregion Collaborative */
/*  #region Process */

.process-container {
    padding-left: 32px;
    padding-right: 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.process-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 8px;
}

.process-text {
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    color: #22343d;
    margin-bottom: 40px;
}

.process-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    margin-bottom: 32px;
}

.process-list-item {
    display: flex;
    align-items: center;
    gap: 14px;
}

.process-list-text {
    font-weight: 500;
    text-align: center;
    color: #2f281e;
    fill: #fff;
    width: 200px;
    height: 64px;
    border-radius: 35px;
    padding: 13px 20px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}

.process-btn {
    width: 216px;
    height: 53px;
    background-color: #02897a;
    border-radius: 4px;
    font-weight: 700;
    color: #fff;
    border: none;
}

@media screen and (min-width:1440px) {

    .process-container {
        padding: 0;
        width: 916px;
    }

    .process-list {
        gap: 25px 100px;
        margin-bottom: 50px;
    }

    .process-list-item:nth-child(3),
    .process-list-item:nth-child(4) {
        flex-direction: row-reverse;
    }

    .process-list-item {
        gap: 20px;
    }

}

/*   #endregion Process */
/*  #region Content */

.section-container {
    padding: 0 31px;
}

.content-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 8px;
}

.content-text {
    font-weight: 500;
    line-height: 1.63;
    text-align: center;
    color: #22343d;
    margin-bottom: 40px;
}


.under-img-text {
    font-weight: 400;
    line-height: 1.75;
    color: #22343d;
    margin-bottom: 12px;
}

.content-bold {
    font-weight: 700;
}

.content-list-title-link {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.7;
    color: #22343d;
    width: 294px;
}

.under-img-container {
    padding: 24px 0 40px 0;
}

.content-list-title-link:hover,
.content-list-title-link:focus {
    color: #02897a;
}


@media screen and (min-width:1440px) {

    .section-container {
        padding: 0 145px;
    }

    .content-title {
        margin-bottom: 10px;
    }

    .content-text {
        text-align: unset;
        width: 465px;
    }

    .content-list {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
    }

    .content-list-item {
        width: 350px;
        border: 1px solid #dedede;
        border-top: none;
        border-radius: 8px;
    }

    .under-img-text {
        width: 294px;
    }

    .under-img-container {
        padding: 24px 27px 40px 27px;
    }
}

/*   #endregion Content */
/*  #region Price */


.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.7;
    color: #22343d;
}

.price-text {
    font-weight: 500;
    color: #22343d;
    margin-bottom: 74px;
}

.price-list {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.price-list-container {
    border-radius: 8px;
    width: 322px;
    height: 456px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.price-list-item:nth-child(even) {
    background-color: #02897a;
    border-radius: 8px;

    .price-list-title {
        color: #fff;
    }

    .price-list-text {
        color: #fff;
    }

    .price {
        color: #fff;
    }

    .dollar {
        color: #fff;
    }

    .price-list-cost {
        color: #e0e0e0;
    }

    .price-list-advant-item {
        color: #fff;
    }

    .price-btn {
        background-color: #fff;
        color: #02897a;
    }
}


.price-list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.7;
    color: #22343d;
    margin-bottom: 8px;
}

.price-list-text {
    font-weight: 400;
    line-height: 2.5;
    color: #22343d;
    margin-bottom: 16px;
}

.price-list-cost {

    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.01em;
    color: #afafaf;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    gap: 8px;
}

.price-dollar-month {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.price {

    font-weight: 700;
    font-size: 76px;
    line-height: 1.31;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}

.dollar {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0em;
    color: #02897a;
}

.price-list-advant {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 38px;
}

.price-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    background: #02897a;
    border: none;
}

@media screen and (min-width:1440px) {
    .price-title {
        margin-bottom: 10px;
    }

    .price-text {
        margin-bottom: 40px;
    }

    .price-list {
        flex-direction: row;
        gap: 72px;
    }
}

/*   #endregion Price */
/*  #region Clients */


.clients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 42px;
}

.clients-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: #22343d;
    margin-bottom: 8px;
}

.clients-text {
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
    margin-bottom: 32px
}

.clients-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}


.clients-list-container {
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 28px 26px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.clients-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.01em;
    color: #32454f;
}

.client-img-info {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.client-info {
    display: flex;
    flex-direction: column;
}


.clients-list-title {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.clients-list-proffession {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: #252b42;
}

@media screen and (min-width:1440px) {

    .clients-title {
        margin-bottom: 10px;
    }


    .clients-text {
        width: 537px;
        margin-bottom: 40px;
    }

    .clients-list {
        flex-direction: row;
        gap: 64px;
    }
}

/*   #endregion Clients */
/*  #region Сompanies */

.companies-container {
    padding: 0 20px;
}

.comptaniens-bg-container {
    border-radius: 32px;
    background: #02897a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px 21px 0 22px;
}

.companies-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.51;
    text-align: center;
    color: #fff;
    margin-bottom: 57px;
}

.companies-btn {
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background: #fff;
    border: none;
    margin-bottom: 32px;
}

.companies-img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:1440px) {

    .companies-container {
        justify-items: center;
    }

    .comptaniens-bg-container {
        width: 968px;
        flex-direction: row;
        padding: 0;
        gap: 10px;
        justify-content: center;
        padding: 0 46px 0 51px;
    }

    .companies-left-container {
        display: flex;
        flex-direction: column;
        width: 510px;
        gap: 46px;

    }

    .companies-title {
        margin: 0;
        text-align: unset;

    }

    .companies-img {
        width: 351px;
        height: 331px;

    }
}

/*   #endregion Сompanies */
/*  #region Footer */

.footer-container {
    padding: 0 25px 45px 25px;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 25px;
}

.footer-list-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;
}

.footer-icon-container {
    border-radius: 100%;
    background-color: #edfffc;
}

.footer-socials-icon {

    stroke-width: 2px;
    stroke: #02897a;
    fill: transparent;
}


.footer-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
    text-align: center;
    margin-bottom: 8px;
}

.footer-list-menu {
    margin-bottom: 32px;
}

.footer-list-meni-item {
    font-weight: 400;
    line-height: 2.18;
    text-align: center;
    color: #22343d;

}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-form-label {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #22343d;
    margin-bottom: 34px;
}

.footer-input {
    font-family: "ProximaNova", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #bcd0e5;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 325px;
    height: 48px;
    margin-bottom: 21px;
}

.footer-input::placeholder {
    padding-left: 42px;
    font-weight: 400;
    line-height: 1.75;
    color: #02897a;
}

.footer-form-input-cont {
    position: relative;
}

.footer-form-icon {
    fill: #02897A;
    position: absolute;
    left: 12px;
    top: 10px
}

.footer-btn {
    font-weight: 700;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    width: 131px;
    height: 39px;
    background-color: #02897a;
    border: none;
    margin-bottom: 44px;
}

.footer-under-text {
    font-weight: 400;
    line-height: 1.875;
    text-align: center;
    color: #22343d;
}

@media screen and (min-width:1440px) {

    .footer-container {
        display: flex;
        flex-direction: column;
        width: 1110px;
    }

    .footer-up-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-logo-socials-container {
        margin-right: 146px;
    }


    .footer-list-container {
        display: flex;
        gap: 129px;
        margin-right: 83px;
    }


    .footer-title {
        text-align: left;
    }


    .footer-list-meni-item {
        text-align: left;
    }

    .footer-form {
        width: 325px;
        align-items: start;
    }

    .footer-form-label {
        text-align: unset;
        margin-bottom: 30px;

    }

    .footer-input {
        margin-bottom: 25px;
    }


}



/*   #endregion Footer */




/* SECOND PAGE */
/*  #region Our-Clients */

.our-clients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px 0 26px;
}

.our-clients-title {
    font-weight: 700;
    font-size: 36px;
    color: #22343d;
    margin-bottom: 42px;
}

.our-clients-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px 50px;
}

.Airbnb-img {
    width: 159px;
}

.Google-img {
    width: 146px;
}

.Microsoft-img {
    width: 164px;
}

.FedEx-img {
    width: 140px;
}

/*   #endregion Our-Clients */
/*  #region Choose-Prod */

.choose-prod-container {
    background-color: #f5f5f5;
    padding: 24px 25px 61px 25px;
}

.choose-prod-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
}

.choose-prod-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.choose-prod-list-item {
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 32px 37px 34px 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-product-container-icon {
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.cursor-choose {
    background-color: #02897a;
}

.figure-choose {
    background-color: #4d8dff;
}

.heard-choose {

    background-color: #f03e3d;
}

.product-icon {
    fill: #fff;
}

.choose-prod-list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: 0em;
    text-align: center;
    color: #22343d;
    margin-bottom: 16px;
}

.choose-prod-list-text {
    font-weight: 400;
    line-height: 1.69;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
}

/*   #endregion Choose-Prod  */
/*  #region Work */

.work-container {
    padding: 0 27px 0 25px;
}

.work-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 79px;
}

.work-step {
    font-weight: 500;
    font-size: 20px;
    color: #22343d;
    margin-bottom: 16px;
}

.work-list-title {
    font-weight: 600;
    font-size: 24px;
    color: #22343d;
    margin-bottom: 16px;
}

.work-list-text {
    font-weight: 400;
    line-height: 1.75;
    color: #22343d;
    margin-bottom: 70px;
}

.work-img {
    width: 355px;
    height: 198px;
    margin-bottom: 80px;
}

.work-btn {
    display: none;
}

/*   #endregion Work  */
/*  #region Offer */

.offer-section {}

.container {}

.offer-container {
    padding: 30px 30px 33px 30px;
    background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.offer-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
}

.offer-list {
    display: flex;
    flex-direction: column;
    gap: 66px;
}

.offer-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-img-container {
    border-radius: 100px;
    padding: 30px 20px;
    width: 150px;
    height: 150px;
    background-color: #ffefef;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
}

.offer-img {}

.offer-list-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    color: #000;
    margin-bottom: 16px;
}

.offer-list-options {
    margin-bottom: 12px;
}

.offer-list-options-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;
    text-align: center;
    color: #22343d;

}

.offer-under-list-text {
    font-weight: 500;
    line-height: 1.8;
    color: #000;
}

/*   #endregion Offer  */



/* THIRD page */

/*  #region PRICING-page */
.title-pricing {
    font-weight: 600;
    font-size: 24px;
    color: #22343d;
    margin-bottom: 30px;
}

.under-title-pricing {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #22343d;
    margin-bottom: 18px;
}

.text-pricing {
    font-weight: 500;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
}

.price-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px 0 32px;

}

/*   #endregion PRICING-page  */
/*  #region ENTERPRISE */

.enterpreneur-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 47px 47px 0 31px;
    background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}

.enterpreneur-title {
    font-weight: 600;
    font-size: 24px;
    color: #22343d;
    margin-bottom: 24px;
}

.enterpreneur-under-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 25px;
}

.enterpreneur-text {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #22343d;
    margin-bottom: 32px;
}

.enterpreneur-btn {
    border-radius: 8px;
    width: 224px;
    height: 44px;
    background-color: #02897a;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border: none;
    margin-bottom: 46px;
}

/*   #endregion ENTERPRISE  */
/*  #region Product-Usage */
.product-usage-container {
    padding: 0 30px 0 24px;
}

.product-usage-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
}

.product-usage-img {
    width: 100%;
    height: 100%;
}

.product-usage-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product-usage-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 16px;

}

.product-usage-icon-container {
    border-radius: 100px;
    width: 52px;
    height: 50px;
    background-color: #f4f5f7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.product-usage-list-title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #22343d;
}

.product-usage-list-text {
    font-weight: 400;
    line-height: 1.75;
    color: #22343d;
}

/*   #endregion Product-Usage  */
/*  #region faq */
.faq-section {}

.faq-container {
    padding: 0 24px 0 32px;
}

.faq-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 16px;
}

.faq-text {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #22343d;
    margin-bottom: 30px;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.faq-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 16px;
}

.faq-list-container {
    display: flex;
    gap: 16px;
    cursor: pointer;
}

.faq-icon {
    fill: #02897a;
}

.faq-list-title {
    font-weight: 500;
    font-size: 18px;
    color: #22343d;
    margin-bottom: 16px;
}

.faq-list-text {
    font-weight: 400;
    color: #22343d;
}

/*   #endregion faq  */